@model google_sheet_api_service.Models.Building

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Building</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.islandGid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.islandGid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.islandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.islandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maxLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maxLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imageKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.buildingNameKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.buildingNameKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.buildingDescriptionKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.buildingDescriptionKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alreadySettingBuildingLevelCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alreadySettingBuildingLevelCount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
