@model IEnumerable<google_sheet_api_service.Models.Building>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="RequestGoogleSheetApi">Request Google Sheet</a>
    <a asp-action="CleanUp">CleanUp</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.gId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.islandGid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.islandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maxLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buildingNameKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buildingDescriptionKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alreadySettingBuildingLevelCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.islandGid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.islandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.maxLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imageKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.buildingNameKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.buildingDescriptionKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.alreadySettingBuildingLevelCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
