@model IEnumerable<google_sheet_api_service.Models.BuildingStyle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.gId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buildingStyleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.islandGid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buildingGid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buildingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.minLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.gId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.buildingStyleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.islandGid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.buildingGid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.buildingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imageKey)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
