@model google_sheet_api_service.Models.StoryDialogue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StoryDialogue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.storyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.storyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stroyGid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stroyGid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.characterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.characterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dialogueSortIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dialogueSortIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contentKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contentKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.optionDialogue01)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.optionDialogue01)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.optionDialogue02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.optionDialogue02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.optionDialogue01Key)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.optionDialogue01Key)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.optionDialogue02Key)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.optionDialogue02Key)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
