@model google_sheet_api_service.Models.Island

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Island</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.islandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.islandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imageKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nameKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nameKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descriptionKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descriptionKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.conclusionKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.conclusionKey)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
