@model google_sheet_api_service.Models.Story

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Story</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stroyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stroyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.characterGid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.characterGid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.characterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.characterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.buildingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.buildingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.buildingLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.buildingLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.buildingGid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.buildingGid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
