@model google_sheet_api_service.Models.BuildingLevelSize

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BuildingLevelSize</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.buildingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.buildingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.buildingLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.buildingLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.islandGid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.islandGid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.buildingGid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.buildingGid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.checkAnim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.checkAnim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.levelUpAnim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.levelUpAnim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.buildingSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.buildingSize)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
