@model google_sheet_api_service.Models.SoundSetting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SoundSetting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.islandGid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.islandGid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.islandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.islandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bgmVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bgmVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.windVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.windVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.waveVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.waveVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.birdVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.birdVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lakeVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lakeVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bellVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bellVolume)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
